[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jdajda
[access "refs/for/refs/*"]
	read = group user/jdajda
	push = group user/jdajda
	label-Code-Review = -2..+2 group user/jdajda
	label-Verified = -1..+1 group user/jdajda
	rebase = group user/jdajda
	removeReviewer = group user/jdajda
	submit = group user/jdajda
[access "refs/heads/*"]
	read = group user/jdajda
	create = group user/jdajda
	push = +force group user/jdajda
	pushMerge = group user/jdajda
[access "refs/tags/*"]
	push = +force group user/jdajda
	pushTag = group user/jdajda
	pushSignedTag = group user/jdajda
